@import "./_variables.scss";

body {
  font-family: $font-family;
  color: $text-color;
}

h1 {
  background: linear-gradient(to right, $purple-color, $primary-color);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.gradient {
  background: linear-gradient(to right, $primary-color, $purple-color);
  background-size: 200% 100%;
  animation: gradient 5s ease-in-out infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.primary-button {
  padding: 1rem;
  background-color: $primary-color;
  color: $white-color;
  border-radius: 5px;
  border: 3px solid $primary-color;
  font-size: 1.1rem;
  font-weight: 800;
}

.primary-button:hover {
  background-color: $white-color;
  color: $primary-color;
}

.mb-05 {
  margin-bottom: 0.5rem;
}

.mb-1 {
  margin-bottom: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-3 {
  margin-top: 3rem;
}

.mr-3 {
  margin-right: 3rem;
}